body,html {
  font-size:16px;
  font-family:"Inconsolata", sans-serif;
  font-weight:400;
  line-height: 1.8em;
  background-color:grey;
}

.grey {
  background-color:grey;
}


.display {
  width: 75%;
  margin: auto;
  background-color: white;
  text-align: center;
  padding-top: 25px;
}

.display p {
  font-size: 20px;
  padding-top: 2%;
  width:75%;
  margin: auto;
  text-align: left;
}

.hide {
  display:none;
}

.blogsContainer {
  width: 75%;
  margin:0 auto;
  background-color: white;
}

textarea {
  font-size: 50%;
}

.sigh {
  width:75%;
  margin:auto;
}

.area1,.area2,.area3{
  position: relative;
  opacity: .7;
  background-position:center;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

.area1{
  background-image: url('/Blog/images/img3.jpeg');
  width:75%;
  max-width: 100%;
  color:rgb(217,220,222);
  margin: auto;
  background-color:grey;
}



.section{
  padding: 50px 80px;
  border: 5px solid grey;
  margin: 5px 0px
}

.block {
  background-color: black;
  opacity: .8; 
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}
.btnList {
text-align: center;
}

body h1{
  text-align: center;
  font-size: 6.0em;         
}
body h2 {
  text-align: center;
  font-size: 3.0em
}
h3 {
  text-align:center;
  font-size: 2.0em;
}

#whitebg {
  margin: auto;
  width: 80%; /* this modifies the width of the box containing the name */
  padding: 15%;
}


nav {
    margin:auto;
    width: 75%;
    background-color: #333;
}

li a {
    display:block;
    color: white;
    padding: 14px 16px;
    font-size: 1.5em;
}

li a:hover {
    color: grey;
}

#date {
  text-align: left;
  font-size: 2.5em;
}

.zebuttons{
  padding-top: 3%;
  margin-right:auto;
  width:10%
}

.zebuttoncontainer {
  width:75%;
  margin: auto;
}

