extends layout

block content
  .test1
    .area1
          #whitebg
            h1 Jason Chen
            h3 The ultimate gamer girl
          .btnList
            a(href='https://www.linkedin.com/in/jason-chen-b4460a8b/', style='text-decoration : none; color: white;')
              i.fab.fa-linkedin-in.fa-2x
            a(href='https://github.com/jchen95', style='text-decoration : none; color: white;')
              i.fab.fa-fw.fa-github.fa-2x
            a(href='https://twitter.com/jchentai', style='text-decoration : none; color: white;')
              i.fab.fa-fw.fa-twitter.fa-2x
    .container
      each blog in blogs
        .section
          h2= blog.title
          p= blog.body
          a(href='/blog/'+ blog._id) Read More
        
        
        
        