extends layout

block content

  .display
    h1 Registration Form
      form(method='POST', action='/blog/register' style='padding-top: 50px;')
        input(type='text' name='title' style='width:400px')
        br
        textarea(row='5' col='60' name='body' style='height: 200px; width:400px')
        br
        input(type='submit')