extends layout

block content

  .display
    .sigh
      h2 Create a new post
      form.form-group(method='POST', action='/blog/new' style='padding-top: 5%')
        input.form-control.form-control-lg(type='text' name='title' placeholder='Title' style='width:402px;')
        input.form-control.form-control-lg(type='text' name='cycle' placeholder='Cycles' style='width:402px')
        textarea#comment.form-control(rows='5' name='body' placeholder='Body')
        input.form-control(type='submit')
