extends layout

block content


  .display
    h1= blog.title
    p= blog.body
    a(href='/blog/'+ blog._id + '/comments/new') New Comment
    each comment in blog.comments
      .section
        p= comment.author
        p= comment.body

    a(href= '/blog/'+ blog._id + '/edit') Edit
    form(method='POST', action='/blog/' + blog._id + '?_method=DELETE')
        button DELETE